@page "/"
@inject IDatiEventi datiEventi

<PageTitle>Index</PageTitle>

<h3>Hello, world!</h3>

<Welcome/>
<ListaEventi Eventi="eventi" Titolo="Prossimi Eventi" OnRimuoviEvento="EliminaEvento"/>



@code {

    private List<Evento> eventi = new List<Evento>();

    protected override void OnInitialized()
    {
       eventi = datiEventi.EstraiEventiFuturi();
    }

    private void EliminaEvento(Evento evento)
    {
        eventi.Remove(evento);
    }
}

